*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

nav{
    width: 100%;
    height: 65px;
    border-bottom: 1px solid rgba(104, 104, 104, 0.603);
    position: sticky;
    top: 0;
    background-color: white;
}

.name{
    padding: 30px;
    line-height: 65px;
    font-family: 'Nunito';
    font-weight: 900; 
    font-size: 20px;
    color: rgb(75, 75, 75);
}

.float{
    float: right;
    line-height: 65px;
    padding: 0 30px;
    font-family: 'Nunito';
    font-weight: 700; 
    font-size: 15px;
}

.float a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(75, 75, 75);
    padding: 9px 18px;
    border: 2px solid rgb(75, 75, 75);
    transition: 0.25s all ease-in-out;
    border-radius: 40px;
}

.float a:hover{
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}

.Back{
    margin: 20px 0 0px 0;
    padding-left: 30px;
}

.Back a{
    text-decoration: none;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 500;
    color: rgb(75, 75, 75);
}

.Back i{
    margin-right: 5px;
}

h1{
    text-align: center;
    color: rgb(75, 75, 75);
    margin-bottom: 15px;
    margin-top: 15px;
}

.sec{
    margin: 0 20px 0 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(104, 104, 104, 0.603);
}

.fit{
    width: 380px;
    height: 320px;
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(97, 97, 97, 0.452);
    border: 1px solid rgba(124, 124, 124, 0.582);
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}

.fit:hover{
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.377);
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.exp{
    text-align: center;
    font-family: 'Nunito';
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 35px;
    font-weight: 700;
    color: rgb(75, 75, 75);
}

.anch1{
    text-align: center;
    margin-top: 25px;
    margin-left: 15px;
}

.anch1 a{
    margin-right: 10px;
}

#fix{
    margin-right: 0;
}

.anch1 a{
    background-color: white;
    text-decoration: none;
    color: rgb(75, 75, 75);
    padding: 10px 16px;
    border: 1px solid rgb(75, 75, 75);
    transition: 0.25s all ease-in-out;
    border-radius: 40px;
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 14px;
}

.anch1 a:hover{
    background-color: rgb(75, 75, 75);
    color: white;
}

.copyright{
    margin-top: 60px;
    width: 100%;
    height: 40px;
    background-color: rgb(34, 32, 32);
    /* border-radius: 40px; */
}

p{
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}

@media (max-width: 930px){
    .fit{
        width: 285px;
        height: 285px;
        margin: 15px;
    }

    .sec{
        margin: 0 5px 0 5px;
    }
}

@media (max-width: 668px){
    .fit{
        width: 235px;
        height: 235px;
        margin: 10px;
    }

    .sec{
        margin: 0 2px 0 2px;
    }
}

@media (max-width: 550px){
    .fit{
        width: 195px;
        height: 195px;
        margin: 5px;
    }
}

@media (max-width: 500px){
    .Back{
        margin: 15px 0 0px 0;
        padding-left: 20px;
    }

    .Back a{
        font-size: 15px;
    }
    
    .fit{
        width: 170px;
        height: 170px;
        margin: 5px;
    }

    nav{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgba(104, 104, 104, 0.603);
        position: sticky;
        top: 0;
        background-color: white;
    }

    .name{
        line-height: 50px;
        padding: 20px;
        font-size: 17px;
    }

    .float{
        line-height: 50px;
        padding: 0 20px;
        font-size: 12px;
    }
    
    .float a{
        padding: 6px 13px;
    }
    
    h1{
        font-size: 25px;
        color: rgb(75, 75, 75);
    }

    .info{
        font-size: 12px;
    }

    .me{
        font-size: 13px;
    }

    .anch1 a{
        background-color: white;
        text-decoration: none;
        padding: 7px 13px;
        font-size: 12px;
    }

    .copyright{
        margin-top: 60px;
        width: 100%;
        height: 40px;
        background-color: rgb(34, 32, 32);
    }

    .copyright p{
        line-height: 40px;
        font-size: 10px;
    }
}

@media (max-width: 475px){
    .fit{
        width: 160px;
        height: 160px;
        margin: 5px;
    }
}
